{% extends 'base.html' %}
{% block content %}
    <div class="list-group">
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action active" aria-current="true">Park Seon Jun</a>
        <a href="{% url 'introduce' %}" class="list-group-item list-group-item-action">Introduce</a>
        <a href="{% url 'history' %}" class="list-group-item list-group-item-action">History</a>
        <a href="{% url 'contact_me' %}" class="list-group-item list-group-item-action">Contact me</a>
        <a href="{% url 'favorite' %}" class="list-group-item list-group-item-action">Favorite</a>
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">메인 페이지로</a>
    </div>

    <ul>
        <li>Phone  : 010-4536-2179</li>
        <li>E-mail : parkseonjun1119@naver.com</li>
        <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
        <li><a href="https://brunch.co.kr/@7515aaef511f42b/4" target="_blank">Brunch</a> </li>
    </ul>
{% endblock %}

