{% extends 'base.html' %}
{% block content %}
    <div class="list-group">
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action active" aria-current="true">Park Seon Jun</a>
        <a href="{% url 'introduce' %}" class="list-group-item list-group-item-action">Introduce</a>
        <a href="{% url 'history' %}" class="list-group-item list-group-item-action">History</a>
        <a href="{% url 'contact_me' %}" class="list-group-item list-group-item-action">Contact me</a>
        <a href="{% url 'favorite' %}" class="list-group-item list-group-item-action">Favorite</a>
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">메인 페이지로</a>
    </div>
    <h2>MY FAVORITE ARTIST</h2>
    <img src="beenzino.jpg" width="200" title="빈지노.."><br>
    이름 : 빈지노 <br>
    직업 : 래퍼 <br>
    좋아하는 이유 : 가사가 너무 좋다!!! <br>
    <img src="Rockstar.jpg" width="200" title="어딜 내놓아도 부끄러운 아티스트"><br>
    이름 : 한요한 <br>
    직업 : 래퍼 <br>
    좋아하는 이유 : 가사가 너무 좋다!!! <br>
    대표곡
    <ul>
        <li><a href="https://www.youtube.com/watch?v=CSV0uJBXrko" target="_blank" title="음악 바로가기">조퇴- 한요한(feat.안병웅)</a></li>
        <li><a href="https://www.youtube.com/watch?v=zlU8zIIr12A" target="_blank" title="음악 바로가기">400km - 한요한(feat. Kid Milli</a></li>
         
    </ul>
{% endblock %}