{% extends 'base.html' %}
{% block content %}
    <div class="list-group">
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action active" aria-current="true">Park Seon Jun</a>
        <a href="{% url 'introduce' %}" class="list-group-item list-group-item-action">Introduce</a>
        <a href="{% url 'history' %}" class="list-group-item list-group-item-action">History</a>
        <a href="{% url 'contact_me' %}" class="list-group-item list-group-item-action">Contact me</a>
        <a href="{% url 'favorite' %}" class="list-group-item list-group-item-action">Favorite</a>
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">메인 페이지로</a>
    </div>
    <h2>My timeline</h2>
    <ul>
        <li>2001.11.19 응애~ </li>
        <li>2008.03.02 기지초등학교 입학</li>
        <li>2013.12.10 기지초등학교 졸업</li>
        <li>2014.03.02 원당중학교 입학</li>
        <li>2016.12.10 원당중학교 졸업</li>
        <li>2017.03.02 예산고등학교 입학<i>(백종원 이사장님~)</i></li>
        <li>2020.02.10 예산고등학교 졸업</li>
        <li>2020.03.02 한서대학교 입학</li>
        <li>2020.12.10 21수능 대입수학능력시험</li>
        <li>2021.03.02 항공대학교 입학!</li>
    </ul>
{% endblock %}

