{% extends 'base.html' %}
{% block content %}

    <div class="list-group">
        <a href="{% url 'index' %}" class="list-group-item list-group-item-action active" aria-current="true">Park Seon Jun</a>
        <a href="{% url 'introduce' %}" class="list-group-item list-group-item-action">Introduce</a>
        <a href="{% url 'history' %}" class="list-group-item list-group-item-action">History</a>
        <a href="{% url 'contact_me' %}" class="list-group-item list-group-item-action">Contact me</a>
        <a href="{% url 'favorite' %}" class="list-group-item list-group-item-action">Favorite</a>
        <a href="{% url 'home' %}" class="list-group-item list-group-item-action">메인 페이지로</a>
    </div>
{% endblock %}
